<a href="https://colab.research.google.com/github/abhashpanwar/Modelling-In-Operations-Management/blob/master/OM_Pro1_(File_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)

Mounted at /content/gdrive

In [2]:
%cd /content/gdrive

/content/gdrive

In [11]:
#!ls "/content/gdrive/My Drive/modelling-project-research-papers/rossmann-store-sales/"

sample_submission.csv  store.csv  test.csv  train.csv

## Import Libraries

In [4]:
import pandas as pd
import numpy as np

## Load Data Set

In [ ]:
rossmann_dataset_path= '/content/gdrive/My Drive/modelling project research papers/rossmann-store-sales/'
rossmann_train='train.csv'
rossmann_test='test.csv'
rossmann_sample='sample_submission.csv'
rossmann_store='store.csv'

In [30]:
#training 
df_train=pd.read_csv(rossmann_dataset_path+rossmann_train,low_memory=False)
print(df_train.shape)
df_train.head()

(1017209, 9)

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [31]:
#testing
df_test=pd.read_csv(rossmann_dataset_path+rossmann_test,low_memory=False)
print(df_test.shape)
df_test.head()

(41088, 8)

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [32]:
#store
df_store=pd.read_csv(rossmann_dataset_path+rossmann_store,low_memory=False)
print(df_store.shape)
df_store.head()

(1115, 10)

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]